<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mk document for Express</title>
</head>
<style>
    *{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    h1{
        letter-spacing: 0.5;

    }
</style>
<body>
    <h1>Express.js tutorial</h1>
    <h2>
        Example of fetching text from server.js using ESP:
        <br>text is: <%= locals.text || "Default" %>
    </h2>
</body>
</html>
